<div class="contacto">
  <app-titulo-categoria [foto]="'./assets/img/fondo.png'" [titulo]="title"></app-titulo-categoria>
  <div class="content-wraper">
    <div class="content-business">

      <div class="titulo">
        Filtros para Empresas
        <span class="example-spacer"></span>
        <mat-icon class="example-icon">verified_user</mat-icon>
      </div>


      <div class="col-xs-12 col-md-12">
        <mat-form-field>
          <mat-select placeholder="Ordenar Empresas" (change)="filterName($event.value)">
            <mat-option [value]="'ordNombre'">
              Por Nombre
            </mat-option>
            <mat-option [value]="'ordCategoria'">
              Por Categoria
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-select placeholder="Poligono" [(ngModel)]="poligonoFilter" >
            <mat-option>Todos</mat-option>
            <mat-option *ngFor="let poligono of poligonos" [value]="poligono.id" >
              {{poligono.title}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <input [(ngModel)]="filtroEmpresasNombre" placeholder="Buscar por nombre" />
      </div>

      <div class=" empresas col-xs-12 col-md-12" *ngFor="let empresa of empresas | OrdenarEmpresasPipe:ordenarTipo | FiltrarPoligonoPipe: poligonoFilter | FiltrarEmpresaIdPipe: filtroEmpresasNombre "
           id="{{empresa.id}}">
        <div class="col-xs-12 col-md-3">
          <img mat-card-image src="./assets/img/Empresas/{{empresa.photo}}">
        </div>

        <div class="example-card col-xs-12 col-md-9">
          <mat-card>
            <mat-card-content>
              <h1> {{empresa.title}}</h1> <br>
              <h3>{{empresa.sector}}</h3>
              <br/>
              {{empresa.description}}

              <mat-list>
                <mat-list-item>
                  <mat-icon mat-list-icon>business</mat-icon>
                  {{empresa.poligono}}
                </mat-list-item>
                <mat-list-item>
                  <mat-icon mat-list-icon>location_on</mat-icon>
                  {{empresa.adress}}
                </mat-list-item>
                <mat-list-item>
                  <mat-icon mat-list-icon>phone</mat-icon>
                  <a href="tel:+34{{empresa.telefono}}"> {{empresa.telefono}}</a>
                </mat-list-item>
                <mat-list-item>
                  <mat-icon mat-list-icon>email</mat-icon>
                  <a  target="_blank" href="mailto:{{empresa.email}}">{{empresa.email}}</a>
                </mat-list-item>
                <mat-list-item>
                  <mat-icon mat-list-icon>web</mat-icon>
                  <a   target="_blank" href="http:\\{{empresa.web}}">{{empresa.web}}</a>
                </mat-list-item>
                <mat-list-item>
                  <mat-icon mat-list-icon>near_me</mat-icon>
                  Ver en Mapa
                </mat-list-item>
              </mat-list>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
</div>
