

.content-wraper{
    margin-top: 80px;
}

.content-business{
  width: 85%;
  margin-top: -60px;
  margin-left: 7%;
  margin-right: 7%;
  margin-bottom: 50px;
}

.example-spacer {
  flex: 1 1 auto;
}
