

.content-wraper{
    margin-top: 80px;
}

.content-business{
  width: 85%;
  margin-top: -60px;
  margin-left: 7%;
  margin-right: 7%;
  margin-bottom: 50px;
}

.example-spacer {
  flex: 1 1 auto;
}

.col-xs-12{
  margin-top: 20px;
}

.titulo{
  font-family: 'Oswald', sans-serif;
  font-size: 45px;
  padding: 20px 0px 30px 0px;
}

.empresas{
  margin-top: 20px;
}
.empresa-title{
  text-align: center;
}
