main{
    font-family: 'Trebuchet MS', serif;
    font-size: 18px;
}

.contenedor{
    margin-top: 8%;
}

a:link{   
 text-decoration:none;   
}   

.header-wrapper{
  overflow: hidden;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  background-color: white;
	-webkit-box-shadow: 0px 16px 38px 8px rgba(0,0,0,0.45);
	-moz-box-shadow: 0px 16px 38px 8px rgba(0,0,0,0.45);
	box-shadow: 0px 16px 38px 8px rgba(0,0,0,0.45);
	height: 100px;
}



footer{
  width:100%;
  background-color: #999;
  float: left;
  margin-top: 50px;
}

.imgLogo {
	padding-left: 7%;
	height: 100%;
	width: 5%;
	float:left;
}

.imgLogo img{height: 100%;}
.menu{
	float: right;
	width: 88%;
	height: 100px;
}
.menu nav{
	text-align: center;
}
.menu nav a{
	float: right;
	padding-right: 5%;
	padding-left: 5%;
	text-align: center;
	line-height: 100px;
}
.menu nav a:hover{
color: white;
background-color: #0071BC;
}

.divPie{
	float: left;
	width: 20%;
	margin: 2%;
	text-align: center;
}


