
      <nav id="myTopnav" [ngClass]="isActiveBurger ? 'topnav responsive' : 'topnav'">
        <a href="javascript:void(0);" class="icon" (click)="switchBurger()">&#9776;    &nbsp;&nbsp;  Aielo de Malferit</a>
        <a  *ngIf="isActiveBurger" [routerLink]=" ['./contacto'] " (click)="ConfigurationService.isPhone && switchBurger()"
          routerLinkActive="active" [routerLinkActiveOptions]= "{exact: true}">
          CONTACTO
        </a>
         <a *ngIf="isActiveBurger" [routerLink]=" ['./noticias'] " (click)="ConfigurationService.isPhone && switchBurger()"
          routerLinkActive="active" [routerLinkActiveOptions]= "{exact: true}">
          NOTICIAS
        </a>
        <a *ngIf="isActiveBurger" [routerLink]=" ['./location'] " (click)="ConfigurationService.isPhone && switchBurger()"
          routerLinkActive="active" [routerLinkActiveOptions]= "{exact: true}">
          EMPRESAS
        </a>
        <a *ngIf="isActiveBurger" [routerLink]=" ['./mapa'] " (click)="ConfigurationService.isPhone && switchBurger()"
          routerLinkActive="active" [routerLinkActiveOptions]= "{exact: true}">
          MAPA
        </a>
        <a *ngIf="isActiveBurger" [routerLink]=" ['./index'] " (click)="ConfigurationService.isPhone && switchBurger()"
          routerLinkActive="active" [routerLinkActiveOptions]= "{exact: true}">
          INICIO
        </a>
      </nav>
    <main>
      <div class="contenedor">
        <router-outlet></router-outlet>
      </div>
    </main>
<footer>
  <div class="col-xs-12 col-md-6">
   <a href="http://www.aielodemalferit.es"> <img src="./assets/img/logo.png" alt=""></a>
  </div>
  <div class="col-xs-12 col-md-6">
    <img src="./assets/img/logo-ivace.png" alt="">
  </div>
</footer>
