<div class="header-wrapper">
  <div class="imgLogo">
    <img src="/assets/img/logoAjuntament.png" >
  </div>
  <div class="menu">
      <nav>
        <a [routerLink]=" ['./contacto'] "
          routerLinkActive="active" [routerLinkActiveOptions]= "{exact: true}">
          CONTACTO
        </a>
         <a [routerLink]=" ['./noticias'] "
          routerLinkActive="active" [routerLinkActiveOptions]= "{exact: true}">
          NOTICIAS
        </a>

        <a [routerLink]=" ['./index'] "
          routerLinkActive="active" [routerLinkActiveOptions]= "{exact: true}">
          INICIO
        </a>
      </nav>
  </div>
</div>

    <main>
      <div class="contenedor">
        <router-outlet></router-outlet>
      </div>
    </main>


<footer>
  <div class="footer" >
    <div class="divPie">INFORMACIÓN</div>
    <div class="divPie">NAVEGACIÓN WEB</div>
    <div class="divPie">NOTICIAS</div>
    <div class="divPie">CONTACTA</div>
  </div>
</footer>
