main{
    font-family: 'Neuton', serif;
}
a:link   
{   
 text-decoration:none;   
}   

.header-wrapper{
  overflow: hidden;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  background-color: white;
}
.contenedor{
	margin:7% 0 0 0;
}

footer{
  position:fixed;
  left:0px;
  bottom:0px;
  height:50px;
  width:100%;
  background:#999;
}

.imgLogo{
	width: 5%;
	height: 5%;
	float:left;
	padding-left: 7%;
}
.imgLogo img{
    width: 100%;
}

.menu{
	float: left;
	width: 88%;
	height: 100px;
}
.menu nav{
	text-align: center;
}
.menu nav a{
	float: right;
	padding-right: 5%;
	padding-left: 5%;
	text-align: center;
	line-height: 100px;
}
.menu nav a:hover{
color: white;
background-color: blue;
}

.divPie{
	float: left;
	width: 20%;
	margin: 2%;
	text-align: center;
}


