<div class="title">
  <span>{{formularioContacto}}</span>
  <mat-icon class="example-icon">border_color</mat-icon>
</div>


<form class="example-full-width" #myForm="ngForm" (ngSubmit)="sendForm(myForm.value)" *ngIf="! contactoPeticionEnviado">
  <mat-form-field class="example-full-width">
    <input matInput name="name" [(ngModel)]="contacto.name" placeholder="Nombre" required>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input matInput name="telefono" [(ngModel)]="contacto.telefono" placeholder="Telefono" required>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input matInput name="email" [(ngModel)]="contacto.email" placeholder="Email" required>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <textarea matInput name="comment" [(ngModel)]="contacto.comment" placeholder="Comentarios" required></textarea>
  </mat-form-field>

  <div class="button-row">
    <button mat-raised-button color="accent">Cancelar</button>
    <button mat-raised-button color="primary" [disabled]="! myForm.form.valid">Enviar</button>
  </div>
</form>
<div *ngIf="contactoPeticionEnviado">
  FORMULARIO ENVIADO, LES CONTACTAREMOS PRONTO
</div>

