<div class="formContacto">
  <img class="formContactoForm" src="/assets/img/Icono/FormColor.png">
  <h2>{{formularioContacto}}</h2>
  <hr>

  <form #myForm="ngForm" (ngSubmit)="sendForm(myForm.value)" *ngIf="! contactoPeticionEnviado">
    <input class="formu" type="text" name="name" placeholder="Nombre" name="nombre"  ngModel required><br>
    <input class="formu" type="text" name="email" placeholder="Email" name="email"  ngModel required><br>
    <input class="formu" type="text" name="telefono" placeholder="Telefono" name="telefono"  ngModel required><br>
    <textarea class="formu" name="comment" placeholder="Comentarios" name="comentarios"  ngModel required></textarea><br>
    <button class="btnEnvio" type="submit" [disabled]="! myForm.form.valid"  name="send" >send</button>
  </form>

  <div *ngIf="contactoPeticionEnviado">
    FORMULARIO ENVIADO, LES CONTACTAREMOS PRONTO
  </div>
</div>
