mat-toolbar{
  margin-top: 50px;
}
.example-full-width {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
}




.btnEnvio{
  -moz-user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 3px;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: normal;
    line-height: 24px;
    margin-bottom: 0;
    padding: 6px 0;
    margin-top: 20px;
    text-align: center;
    touch-action: manipulation;
    transition: all 0.3s ease 0s;
    vertical-align: middle;
    white-space: nowrap;

    float: left;
}


.button-row {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}
