
.example-full-width {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}


.formContactoForm{
  width: 25px;
  float:left;
  margin: 4px 2% 0% 0%;
}

.formContacto hr {
  border: 0;
  height: 0;
  border-top: 4px double black;
  text-align:center;
  width: 86%;
  margin: 0% 7% 4% 0%;
  float: left;
}


.btnEnvio{
  -moz-user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 3px;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: normal;
    line-height: 24px;
    margin-bottom: 0;
    padding: 6px 0;
    margin-top: 20px;
    text-align: center;
    touch-action: manipulation;
    transition: all 0.3s ease 0s;
    vertical-align: middle;
    white-space: nowrap;

    float: left;
}


.button-row {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
