<div class="index" xmlns="http://www.w3.org/1999/html">
	<div class="big-title-wrapper">
		<h2>{{ title }}</h2>
	</div>

  <div class="content-wrapper">
	  <div class="slider">
				<ul>
					<li>
					  <img src="/assets/img/GaleriaInicio/aielo.jpg" alt="">
					 </li>
					<li>
					  <img src="/assets/img/GaleriaInicio/puente.jpg" alt="">
					</li>
					<li>
					 <img src="/assets/img/GaleriaInicio/pueblo.jpg" alt="">
					</li>
					<li>
					 <img src="/assets/img/GaleriaInicio/eixample.jpg" alt="">
					</li>
			</ul>
		</div>
  	<div class="content-information">
  		<div class="title-information">
  			<h2>{{ services }}</h2>
  			<p>{{ servicesLittle }}</p>
  		</div>
  		<div class="information">
  			<div class="information-pointer"><h3>Informacion</h3></div>
  			<div class="information-pointer"><h3>Parcelas</h3></div>
  			<div class="information-pointer"><h3>Formacion</h3></div>
  		</div>
  	</div>
  	<div class="saludos">
  		<h2>SALUDA EL ALCALDE</h2>
  		<h3>JOSE LUIS JUAN PINTER</h3>
  		<div class="contnt-saludo">
  			<img src="/assets/img/alcalde.jpg" alt="AlcaldeFoto">
  			<div>
  				Aqui van unas palabras del alcalde sobre las empresas, proyectos, de los poligonos de Aielo de Malferit
  			</div>
  		</div>
  	</div>
  	<div class="content-business">
  		<h2>ALGUNAS EMPRESAS</h2>
		<a href="" *ngFor="let empresa of empresas" id="{{empresa.id}}">
	  		<div class="business" id="{{empresa.id}}">
				<img src="/assets/img/Empresas/{{empresa.photo}}" >
				<p>{{empresa.title}}</p>
		    	<div class="sector">{{empresa.sector}}</div>
	  		</div>
	  	</a>
	  	<h3>Ver todas las empresas</h3>
	</div>
</div>
