<div class="index">
	<div class="big-title-wrapper">
		<h2>{{ title }}</h2>
	</div>

  <div class="content-wrapper">
  	<div class="content-information">
  		<div class="title-information">
  			<h2>{{ services }}</h2>
  			<p>{{ servicesLittle }}</p>
  		</div>
  		<div class="information">
  			<div class="information-pointer"><h3>Informacion</h3></div>
  			<div class="information-pointer"><h3>Parcelas</h3></div>
  			<div class="information-pointer"><h3>Formacion</h3></div>
  		</div>
  	</div>

  	<div class="content-business">
  		<div class="title-business">
  			<h2>{{ businessTitle }}</h2>
  		</div>
  		<!--<div class="business" *ngFor="let noticia of noticias" id="{{noticia.id}}">-->
  	</div>



	<div class="indexContacto">
		<div class="contentIndex">
			{{indexContacto}}
		</div>
		<div class="relleno">
			<div class="imagenContacto">
				<img src="/assets/img/mapa.png" >
			</div>
			<div class="dondeContactar">
				<p>{{ lugar }} <br>
				 	{{ poblacion }}</p>
				<p>{{ telefono }}</p>
				<p>{{ mail }}</p>
				<p>{{ horario }}</p>
			</div>
		</div>
	</div>


	<div class="formContacto">
		Formulario de Contacto
		<form>
		  <input class="formu" type="text" name="name" placeholder="Nombre"><br>
		  <input class="formu" type="text" name="email" placeholder="Email"><br>
		  <input class="formu" type="text" name="telefono" placeholder="Telefono"><br>
		  <textarea  name="comment" placeholder="Comentarios"></textarea><br>
		  <input class="btnEnvio" type="submit" value="Enviar" src="assets/img/bntEnviar.png">
		</form>
	</div>
</div>

<button (click)="addNumber()">add</button>--->{{counter}}

</div>
