.big-title-wrapper{
  background-color: aqua;
  height: 200px;
  width: 100%;
  background-image: url("/assets/img/fondo.png");
  background-repeat: no-repeat;
  background-size: 100%;
  -webkit-filter: grayscale(-50%);
filter: grayscale(-50%);
}

.big-title-wrapper h2{
	text-align: center;
	line-height: 200px;
	font-family: "Roboto Condensed",sans-serif;
}

.noticia{
	margin: 4% 7% 3% 7%;
	float: left;
}

.noticia img{
	float: left;
	width: 300px;
	margin: 0 2% 2% 0;
}

a{
  color:black;
}
