mat-card{
  margin-top: 50px;
}
.big-title-wrapper{
  width: 100%;
  position: relative;
  display: inline-block;
  img{
    width: 100%;
    height: auto;
    display:block;
  }
  h2{
    font-weight: 800;
    font-family: "Roboto Condensed",sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate( -50%, -50% );
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 50px;
  }
}

.row{
  margin-top: 50px;
}

img {
  width: 100%;
  height: auto;
}



.mapa iframe{
  width: 100%;
  height: 400px;
  margin-top: 100px;
}

.example-card {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.example-header-image {
  background-image: url('../../../assets/img/Palau.jpg');
  background-size: cover;
}
