mat-card{
  margin-top: 50px;
}


.row{
  margin-top: 50px;
}

img {
  width: 100%;
  height: auto;
}



.mapa iframe{
  width: 100%;
  height: 400px;
  margin-top: 100px;
}

.example-card {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.example-header-image {
  background-image: url('../../../assets/img/Palau.jpg');
  background-size: cover;
}
