<div class="contacto">
	<div class="big-title-wrapper">
		<h2>{{ title }}</h2>
	</div>
	<div class="content-wraper">
		<div class="textoContacto">
			<div>
				{{textoContacto}}
			</div>
			<div class="relleno">
				<div class="imagenContacto">
					<img src="/assets/img/Palau.jpg" >
				</div>
				<div class="dondeContactar">
					<p><img class="contactarForm" src="/assets/img/Iconos/location.png">{{ lugar }} <br>
					 	{{ poblacion }}</p>
					<p><img class="contactarForm" src="/assets/img/Iconos/phone.png">{{ telefono }}</p>
					<p><img class="contactarForm" src="/assets/img/Iconos/email.png">{{ mail }}</p>
					<p><img class="contactarForm" src="/assets/img/Iconos/horario.png">{{ horario }}</p>
				</div>
			</div>
		</div>
	</div>

	<div class="formContacto">
		<img class="formContactoForm" src="/assets/img/Icono/FormColor.png">
		<h2>{{formularioContacto}}</h2>
		<hr>

		<form #myForm="ngForm" (ngSubmit)="sendForm(myForm.value)" *ngIf="! contactoPeticionEnviado">
		  <input class="formu" type="text" name="name" placeholder="Nombre" name="nombre"  ngModel required><br>
		  <input class="formu" type="text" name="email" placeholder="Email" name="email"  ngModel required><br>
		  <input class="formu" type="text" name="telefono" placeholder="Telefono" name="telefono"  ngModel required><br>
		  <textarea class="formu" name="comment" placeholder="Comentarios" name="comentarios"  ngModel required></textarea><br>
      <button type="submit" [disabled]="! myForm.form.valid"  name="send" >send</button>
		</form>

    <div *ngIf="contactoPeticionEnviado">
      FORMULARIO ENVIADO, LES CONTACTAREMOS PRONTO
    </div>
	</div>
</div>

<button (click)="addNumber()">add</button>--->{{counter}}
