<app-titulo-categoria [foto]="'./assets/img/fondo.png'" [titulo]="title"  ></app-titulo-categoria>

<!--JUAN:  ESTO CREA EN BOOTSTRAP dos blocs de 6 column en pantalla gran i 12 en xocoteta.
aixo vol dir que en xocoteta tens un bloc per linia i en gran tens 2-->
<div class="row">
  <div class="col-xs-12 col-md-6">
    <div class="row">
      <div class="col-xs-12 col-md-12">
        <mat-card class="example-card">
          <!--JUAN:  esto crea un element material de tipo card -->
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Aielo de Malferit</mat-card-title>
            <mat-card-subtitle>Vall D'Albaida</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image src="./assets/img/Palau.jpg">
          <mat-card-content>
            <p>
              {{textoContacto}}
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>LIKE  <mat-icon class="example-icon">group_add</mat-icon></button>
            <button mat-button>SHARE <mat-icon class="example-icon">share</mat-icon></button>
          </mat-card-actions>
        </mat-card>
      </div>
      <div class="col-xs-12 col-md-12">
        <mat-card class="example-card">
          <mat-card-content>
            <!--JUAN: esto crea un element material de tipo, llista -->
            <mat-list>
              <h3 mat-subheader>Informationes:</h3>
              <mat-list-item>
                <mat-icon mat-list-icon>add_location</mat-icon>
                <h4 mat-line>{{lugar}}</h4>
                <p mat-line> {{poblacion}} </p>
              </mat-list-item>
              <mat-list-item>
                <mat-icon mat-list-icon>call</mat-icon>
                <h4 mat-line>{{telefono}}</h4>
              </mat-list-item>
              <mat-list-item>
                <mat-icon mat-list-icon>chat</mat-icon>
                <h4 mat-line>{{mail}}</h4>
              </mat-list-item>
              <mat-list-item>
                <mat-icon mat-list-icon>query_builder</mat-icon>
                <h4 mat-line>{{horario}}</h4>
              </mat-list-item>
            </mat-list>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-md-6">
    <app-contacto-form></app-contacto-form>
  </div>
</div>


<div class="mapa">
  <iframe
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12423.461695932301!2d-0.598633787615526!3d38.88132071000426!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd619d8df008f053%3A0x4392a6590daf3c75!2sAjuntament+d&#39;Aielo+de+Malferit!5e0!3m2!1ses!2ses!4v1514898465204"
    frameborder="0" style="border:0" allowfullscreen></iframe>
</div>
