
<app-titulo-categoria [foto]="'./assets/img/fondo.png'" [titulo]="title"  ></app-titulo-categoria>
<div>
    <div class="row">
      <div class="col-xs-12 col-md-4" *ngFor="let noticia of noticias" id="{{noticia.id}}">
          <a [routerLink]="['/noticia', noticia.id]">
            <div class="titulo">
              {{noticia.title}}
            </div>
            <i>{{noticia.fecha}}</i>
            <div *ngIf="isPhone" class="foto">
              <img src="./assets/img/Noticias/{{noticia.imagen}}" class="imnoticiapeq" >
            </div>
            <div *ngIf="! isPhone" class="foto">
              <img src="./assets/img/Noticias/{{noticia.imagen}}" class="imnoticia" >
            </div>
          </a>
        <hr  />
      </div>
    </div>
</div>

