.contenido{
	float:left;
	width: 31%;
	text-align: center;
  padding: 100px 1% 0% 1%;
}

.contenido a img{
  width: 300px;
  height: 140px;
}

.big-title-wrapper{
  background-color: aqua;
  height: 200px;
  width: 100%;
  background-image: url("/assets/img/fondo.png");
  background-repeat: no-repeat;
  background-size: 100%;
  -webkit-filter: grayscale(-50%);
filter: grayscale(-50%);
}

.big-title-wrapper h2{
	text-align: center;
	line-height: 200px;
	font-family: "Roboto Condensed",sans-serif;
}
