.row{
  padding: 50px;
}
.row .col-xs-12 {
  border: 1px solid blue;
  text-align: center;
  .imnoticia{
    width: 320px;
    height: 180px;
  }
  .imnoticiapeq{
    width: 180px;
    height: 70px;
  }
}

.big-title-wrapper{
    width: 100%;
    position: relative;
    display: inline-block;
    img{
      width: 100%;
      height: auto;
      display:block;
    }
    h2{
      font-weight: 800;
      font-family: "Roboto Condensed",sans-serif;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate( -50%, -50% );
      text-align: center;
      color: white;
      font-weight: bold;
      font-size: 50px;
    }
}
