.row{
  padding: 50px;
}
.row .col-xs-12 {
  .imnoticia{
    width: 320px;
    height: 180px;
  }
  .imnoticiapeq{
    width: 180px;
    height: 70px;
  }
}
.titulo{
  font-family: 'Oswald', sans-serif;
  font-size: 45px;
  padding: 40px 0px 30px 0px;
}
a{
  color:black !important;
}
i{
  font-size: 15px;
  color:grey;
}
