.row{
  padding: 50px;
}
.row .col-xs-12 {
  border: 1px solid blue;
  text-align: center;
  .imnoticia{
    width: 320px;
    height: 180px;
  }
  .imnoticiapeq{
    width: 180px;
    height: 70px;
  }
}
