.contenido{
	float:left;
	width: 30%;
	text-align: center;
}

.big-title-wrapper{
  background-color: aqua;
  height: 200px;
  width: 100%;
  background-image: url("/assets/img/aieloPanoramica.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  -webkit-filter: grayscale(-50%);
filter: grayscale(-50%);
}

.big-title-wrapper h2{
	text-align: center;
	line-height: 200px;
	font-family: "Roboto Condensed",sans-serif;
}
