<div class="formuContacto">
  <div class="title-form">
    <img class="formForm" src="./assets/img/Icono/FormColor.png">
    <h2>{{ formularioContactos }}</h2>
    <hr>
  </div>
  <div class="envio">


    <h2></h2>

    <form #myForm="ngForm" (ngSubmit)="sendForm(myForm.value)" *ngIf="! contactoPeticionEnviados">
      <input class="formutop" type="button" name="nuevo" value="Nueva Empresa" (click)="mostrarNuevaEmpresa = true"><br><br>

      <mat-accordion>
        <mat-expansion-panel *ngIf="mostrarNuevaEmpresa">
          <mat-expansion-panel-header>
            <mat-panel-title>
             New: {{nuevaEmpresa.title}}
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-form-field class="example-full-width">
            <input matInput name="name-new"  [(ngModel)]="nuevaEmpresa.title" placeholder="Titulo" required>
          </mat-form-field>
          <mat-form-field>
            <mat-select placeholder="Sector" [(ngModel)]="nuevaEmpresa.idsector" name="sector-new">
              <mat-option *ngFor="let sector of sectores" [value]="sector.id">
                {{sector.nombre}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Dirección" name="direccion-new" [(ngModel)]="nuevaEmpresa.adress" required>
          </mat-form-field>
          <mat-form-field>
            <mat-select placeholder="Poligono" [(ngModel)]="nuevaEmpresa.idpoligono" name="poligono-new">
              <mat-option *ngFor="let poligono of poligonos" [value]="poligono.id">
                {{poligono.title}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <input matInput name="telefono-new" [(ngModel)]="nuevaEmpresa.telefono" placeholder="Telefono">
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <input matInput name="movil-new" [(ngModel)]="nuevaEmpresa.movil" placeholder="Movil">
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <input matInput name="email-new" [(ngModel)]="nuevaEmpresa.email" placeholder="Email" >
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <input matInput name="web-new" [(ngModel)]="nuevaEmpresa.web" placeholder="Web">
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <textarea matInput name="descripcion-new" [(ngModel)]="nuevaEmpresa.description" placeholder="Descripcion" required></textarea>
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <input matInput name="foto-new" [(ngModel)]="nuevaEmpresa.photo" placeholder="Foto" >
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <input matInput name="lati-new" [(ngModel)]="nuevaEmpresa.lati" placeholder="Latitud" required>
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <input matInput name="longi-new" placeholder="Longitud" [(ngModel)]="nuevaEmpresa.longi" required>
          </mat-form-field>
        </mat-expansion-panel>
        <mat-expansion-panel
          *ngFor="let empresa of empresas | FiltrarEmpresaIdPipe: FiltrarEmpresaIdPipe ; let i = index">
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{empresa.title}}
            </mat-panel-title>
          </mat-expansion-panel-header>

          <mat-form-field class="example-full-width">
            <input matInput name="name-{{i}}"  [(ngModel)]="empresa.title" placeholder="Titulo" required>
          </mat-form-field>
          <mat-form-field>
            <mat-select placeholder="Sector" [(ngModel)]="empresa.idsector" name="sector-{{i}}">
              <mat-option *ngFor="let sector of sectores" [value]="sector.id">
                {{sector.nombre}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <input matInput name="direccion-{{i}}"  [(ngModel)]="empresa.adress" required placeholder="Dirección">
          </mat-form-field>
          <mat-form-field>
            <mat-select placeholder="Poligono" [(ngModel)]="empresa.idpoligono" name="poligono-{{i}}">
              <mat-option *ngFor="let poligono of poligonos" [value]="poligono.id">
                {{poligono.title}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <input matInput name="telefono-{{i}}" [(ngModel)]="empresa.telefono" placeholder="Telefono">
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <input matInput name="movil-{{i}}" [(ngModel)]="empresa.movil" placeholder="Movil">
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <input matInput name="email-{{i}}" [(ngModel)]="empresa.email" placeholder="Email" >
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <input matInput name="web-{{i}}" [(ngModel)]="empresa.web" placeholder="Web">
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <textarea matInput name="descripcion-{{i}}" [(ngModel)]="empresa.description" placeholder="Descripcion" required></textarea>
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <input matInput name="foto-{{i}}" [(ngModel)]="empresa.photo" placeholder="Foto" >
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <input matInput name="lati-{{i}}" [(ngModel)]="empresa.lati" placeholder="Latitud" required>
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <input matInput name="longi-{{i}}" placeholder="Longitud" [(ngModel)]="empresa.longi" required>
          </mat-form-field>
          
        </mat-expansion-panel>
      </mat-accordion>

      <button class="btnEnvio" type="submit" [disabled]="! myForm.form.valid" name="send">
        <img class="imagenEnvio" src="./assets/img/btnEnviar.png">
      </button>
    </form>
  </div>
  <div *ngIf="contactoPeticionEnviados">
    FORMULARIO ENVIADO, LES CONTACTAREMOS PRONTO
  </div>
</div>
